<h1><%= @list.name %> details</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <% movie = bookmark.movie %>
    <li><img src="<%= movie.poster_url %>" alt="<%= movie.title %>" style="height: 200px;"></li>
    <div><%= movie.title %></div>
    <div><%= movie.overview %></div>
    <div><%=  bookmark.comment %></div>
    <div><%= link_to "Delete", bookmark_path(bookmark),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger"  %></div>
    <br>
  <% end %>
</ul>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<br>
<%= link_to "Back to your lists", lists_path %>
