<h1><%= @list.name %> details</h1>
<%= link_to "Back to your lists", lists_path,  class: "btn btn-primary mb-3 mx-3"%>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <% movie = bookmark.movie %>
    <li><img src="<%= movie.poster_url %>" alt="<%= movie.title %>" style="height: 200px;"></li>
    <div><%= movie.title %></div>
    <div><%= movie.overview %></div>
    <div><%=  bookmark.comment %></div>
    <div><%= link_to "Delete", bookmark_path(bookmark),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger"  %></div>
    <br>
  <% end %>
</ul>

<div class='container'>
  <h3>Create a new bookmark</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit "Add bookmark", class: "btn btn-primary" %>
  <% end %>
</div>
<br>
<div>

</div>
